package templates

templ header(title string) {
	<head>
		<title>{ title }</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script defer src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.5/dist/htmx.min.js"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<link rel="stylesheet" href="/static/css/style.min.css"/>
	</head>
}

templ nav() {
	<nav class="flex justify-center align center p-6 font-extralight">
		<h1 class="text-4xl font-bold text-gray-800">Golang Todo List</h1>
	</nav>
}

templ Layout(contents templ.Component, title string) {
	<!DOCTYPE html>
	@header(title)
	<body class="flex flex-col h-full gap-4">
		@nav()
		<main class="flex flex-col justify-center items-center gap-4">
			@contents
		</main>
	</body>
}
